Saved/Autosaves/
Saved/Config/WorldState/729568683.json
Saved/Cooked/
Saved/Config/CrashReportClient/
Saved/Crashes/
Saved/StagedBuilds/
Saved/Temp/
Sources/Moodboard.afphoto
Saved/Shaders/
Saved/SaveGames/
Saved/MaterialStats/
Saved/MaterialStatsDebug/
Saved/Config/ConsoleHistory.ini
Config/DefaultCrypto.ini
